       body {
		   background-color:#CFC;
		   margin-left: 20%;
		   margin-right: 20%;
		   border: 2px dotted black;
		   padding: 10px 10px 10px 10px;
		   font-family:font-family:"Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	   }
	   p {background-color:#0CC;
	   border:1px solid gray;
	   color:maroon;
	   }
	 
	   h1 {
	   color:#09F;
	   border-bottom: 1px solid gray;
	   font-family: 'Sigmar One', cursive;
	   }
	   h2 {
	   color:grey;
	   }
       img.main {
	margin-left:38%;
	   }
	     img.tiny {
	margin-left:18%;
	   }
	   h2.ad {background-color:#CF0;
	   font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	   color:#C00;
	   }
       a.text {font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	   background-color:#9FF;
	   color:#69F;
	   font-size:36px;
	   }