body {background-color:#103A40;
	  margin-left: 0;
	  margin-right: 0;
	 
	  padding: 10px 10px 10px 10px;
	  font-family:"Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	 }
	 
	   
p {   background-color:#ACEDFF; 
	  color:black;
	  font-size:18px;
	  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	  line-height:2em;
	  
	 }
	 #main {background-color:#41E9FF;
	 margin:0px;
	 padding:100px;
	 border:#41E9FF;
	 }
	   h1 {
	   color:#5FDCFF;
	   border-bottom: 1px solid gray;
	   font-family: 'Sigmar One', cursive;
	   font-size:72px;
	   text-align:center;
	   }
	   h2,h4 {
	   color:white;
	   font-size:33px;
	   }
	  ul {color:#FFFFFF;
	  background-color:#20747F;
	  padding:60px;
	  margin: 100px;
	   }
	   #tidehunter {text-align:center;
	   margin-left:auto;
	   margin-right:auto;
	   }
       #cm {
		   text-align:center;
	margin-left:auto;
	margin-right:auto;
	   }
	    #god{
			width:40px;
			height:40px;
		}
		#syc {width:40px;
			height:40px;
		}
		img.tiny {
	margin-left:18%;
	   }
	   #if {width:40px;
			height:40px;
	   }
	   
	   
	   h2#ad {font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;	   
		   
	   background-color:#CF0;
	   font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	   color:#C00;
	   text-align:center;
	   }
       a {font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	   
	   color:black;
	   font-size:15px;
	   }
	   footer {font-size:13px;
	   color:#999;
	
	   }
	   p#intro {padding:72px;
	   line-height:2em;
	   margin: 72px;
	   background-image:url(images/side.png);
	   background-repeat:no-repeat;
	   background-position:bottom right;
	   font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	   border-radius: 40px;
	   }
	   ul {font-size:24px;
	   }
/**IMAGES HIGHLIT WHEN MOUSEOVER, STARTS HERE**/
	  .dota {
		  margin-bottom:10px;
		  width: 800px;
		  height: 325px;
		  display:block;
		  background: transparent url(images/meepo.jpg) center top repeat-x;
		 margin-left: auto;
		 margin-right:auto;
	  }
		  
	  .dota:hover {margin-bottom:10px;
		  width: 800px;
		  height: 325px;
		  display:block;
		  background: transparent url(images/meepo2.jpg) center top repeat-x;
		 margin-left: auto;
		 margin-right:auto;
	  }
	  .starcraft {
		  margin-bottom:10px;
		  width: 800px;
		  height: 325px;
		  display:block;
		  background: transparent url(images/starcraft1.jpg) center top repeat-x;
		 margin-left: auto;
		 margin-right:auto;
	  }
		  
	  .starcraft:hover {margin-bottom:10px;
		  width: 800px;
		  height: 325px;
		  display:block;
		  background: transparent url(images/starcraft2.jpg) center top repeat-x;
		 margin-left: auto;
		 margin-right:auto;
	  }
	 /**IMAGES HIGHLIT WHEN MOUSEOVER, ENDS HERE**/
	 /* This CSS is just for presentational purposes. */
#wrap {
      font: 1.3em/1.3 Arial, Helvetica, sans-serif;
      width: 30em;
      margin: 0 auto;
      padding: 1em;
      background-color: #fff; }

   /* This CSS is used for the Show/Hide functionality. */
   .more {
      display: none;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666; }
   a.showLink, a.hideLink {
      text-decoration: none;
      color: #36f;
      padding-left: 8px;
      background: transparent url(down.gif) no-repeat left; }
   a.hideLink {
      background: transparent url(up.gif) no-repeat left; }
   a.showLink:hover, a.hideLink:hover {
      border-bottom: 1px dotted #36f; }